In [83]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\programdata\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [84]:
import pandas as pd
from pandas import read_html
import html5lib

In [85]:
url = "file:///C:/Users/vipul%20patil/OneDrive/Desktop/Personel%20Projects/pdf%20extracter%20using%20python/Internshala%20Assignment%20Feb2022/59983.html"

In [86]:
tables_list = pd.io.html.read_html(url)

In [87]:
tables_list

[                                                   0
 0  .highlight { background-color: yellow };  func...,
                                                    0
 0  FULL DETAILS (Read-only) -> Click Here to Crea...,
                                                     0  \
 0                                         CTRI Number
 1                                   Last Modified On:
 2                                Post Graduate Thesis
 3                                       Type of Trial
 4                                       Type of Study
 5                                        Study Design
 6                               Public Title of Study
 7                           Scientific Title of Study
 8                                       Trial Acronym
 9                                Secondary IDs if Any
 10  Details of Principal Investigator or overall T...
 11          Details of Contact PersonScientific Query
 12              Details of Contact PersonPublic Query
 13             Source of Monetary or Material Support
 14                                    Primary Sponsor
 15                       Details of Secondary Sponsor
 16                           Countries of Recruitment
 17                                     Sites of Study
 18                        Details of Ethics Committee
 19              Regulatory Clearance Status from DCGI
 20                Health Condition / Problems Studied
 21                    Intervention / Comparator Agent
 22                                 Inclusion Criteria
 23                                  ExclusionCriteria
 24               Method of Generating Random Sequence
 25                              Method of Concealment
 26                                   Blinding/Masking
 27                                    Primary Outcome
 28                                  Secondary Outcome
 29                                 Target Sample Size
 30                                     Phase of Trial
 31                   Date of First Enrollment (India)
 32                   Date of Study Completion (India)
 33                  Date of First Enrollment (Global)
 34                  Date of Study Completion (Global)
 35                        Estimated Duration of Trial
 36               Recruitment Status of Trial (Global)
 37                Recruitment Status of Trial (India)
 38                                Publication Details
 39  Individual Participant Data (IPD) Sharing Stat...
 40                                      Brief Summary

                                                     1
 0   CTRI/2021/08/036079 [Registered on: 31/08/2021...
 1                                          30/08/2021
 2                                                 Yes
 3                                       Observational
 4                               Cross Sectional Study
 5                                               Other
 6   Functional health status of children with CP d...
 7   Parent-reported change in functional health st...
 8                                                 FHS
 9                     Secondary ID Identifier NIL NIL
 10  Name Nikhat Naaz Designation PG student Affili...
 11  Name Dr Kirti Joshi Designation Assistant prof...
 12  Name Nikhat Naaz Designation PG student Affili...
 13                                               None
 14  Name Nikhat Naaz Address MS Ramaiah Nagar, MSR...
 15                               Name Address NIL NIL
 16                                              India
 17  No of Sites = 1 Name of Principal Investigator...
 18  No of Ethics Committees= 1 Name of Committee A...
 19                              Status Not Applicable
 20  Health Type Condition Healthy Human Volunteers...
 21                                  Type Name Details
 22  Age From 3.00 Year(s)  Age To 17.00 Year(s)  G...
 23  Details Children with any major surgery/ major...
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27  Outcome TimePoints Change in functional health...
 28                          Outcome TimePoints none 0
 29  Total Sample Size="96"Sample Size from India="...
 30                                                NaN
 31                                         10/09/2021
 32    Applicable only for Completed/Terminated trials
 33                                       Date Missing
 34    Applicable only for Completed/Terminated trials
 35                        Years="1"Months="0"Days="0"
 36                                     Not Applicable
 37                                 Not Yet Recruiting
 38                    Would want to publish the study
 39  Will individual participant data (IPD) be shar...
 40  Background: The WHO declared coronavirus disea...  ,
               0           1
 0  Secondary ID  Identifier
 1           NIL         NIL,
              0                                                  1
 0         Name                                        Nikhat Naaz
 1  Designation                                         PG student
 2  Affiliation                         MS Ramaiah Medical College
 3      Address  Department of Physiotherapy MS Ramaiah Nagar, ...
 4        Phone                                         8197324719
 5          Fax                                                NaN
 6        Email                               nikinaaz98@gmail.com,
              0                                                  1
 0         Name                                     Dr Kirti Joshi
 1  Designation                                Assistant professor
 2  Affiliation                         MS Ramaiah Medical College
 3      Address  MS Ramaiah Nagar, MSRIT Post, BangaloreBangalo...
 4        Phone                                         9686851063
 5          Fax                                                NaN
 6        Email                             kirtijoshi@msrmc.ac.in,
              0                                                  1
 0         Name                                        Nikhat Naaz
 1  Designation                                         PG student
 2  Affiliation                         MS Ramaiah Medical College
 3      Address  Department of Physiotherapy, MS Ramaiah Nagar,...
 4        Phone                                         8197324719
 5          Fax                                                NaN
 6        Email                               nikinaaz98@gmail.com,
       0
 0  None,
                  0                                                1
 0             Name                                      Nikhat Naaz
 1          Address  MS Ramaiah Nagar, MSRIT Post, Bangalore 560054.
 2  Type of Sponsor                         Other [Self sponsorship],
       0        1
 0  Name  Address
 1   NIL      NIL,
                                 0                           1  \
 0                 No of Sites = 1             No of Sites = 1
 1  Name of Principal Investigator                Name of Site
 2                     Nikhat Naaz  MS Ramaiah Medical College

                                                    2  \
 0                                    No of Sites = 1
 1                                       Site Address
 2  Department of Physiotherapy, MS Ramaiah Nagar,...

                                 3
 0                 No of Sites = 1
 1                 Phone/Fax/Email
 2  8197324719nikinaaz98@gmail.com  ,
                                                    0  \
 0                         No of Ethics Committees= 1
 1                                  Name of Committee
 2  Institutional Ethics Committee Ramaiah Medical...

                             1                           2  \
 0  No of Ethics Committees= 1  No of Ethics Committees= 1
 1             Approval Status                         NaN
 2                    Approved                         NaN

                             3                           4
 0  No of Ethics Committees= 1  No of Ethics Committees= 1
 1                         NaN                         NaN
 2                         NaN                         NaN  ,
                 0
 0          Status
 1  Not Applicable,
                           0               1
 0               Health Type       Condition
 1  Healthy Human Volunteers  Cerebral Palsy,
       0     1        2
 0  Type  Name  Details,
           0                                  1
 0  Age From                       3.00 Year(s)
 1    Age To                      17.00 Year(s)
 2    Gender                               Both
 3   Details  Parents should understand english,
          0                                                  1
 0  Details  Children with any major surgery/ major illines...,
                                     0           1
 0                             Outcome  TimePoints
 1  Change in functional health status   only once,
          0           1
 0  Outcome  TimePoints
 1     none           0]

In [88]:
my_list = tables_list[2]

In [89]:
my_list

,0,1
0,CTRI Number,CTRI/2021/08/036079 [Registered on: 31/08/2021...
1,Last Modified On:,30/08/2021
2,Post Graduate Thesis,Yes
3,Type of Trial,Observational
4,Type of Study,Cross Sectional Study
5,Study Design,Other
6,Public Title of Study,Functional health status of children with CP d...
7,Scientific Title of Study,Parent-reported change in functional health st...
8,Trial Acronym,FHS
9,Secondary IDs if Any,Secondary ID Identifier NIL NIL
10,Details of Principal Investigator or overall T...,Name Nikhat Naaz Designation PG student Affili...
11,Details of Contact PersonScientific Query,Name Dr Kirti Joshi Designation Assistant prof...
12,Details of Contact PersonPublic Query,Name Nikhat Naaz Designation PG student Affili...
13,Source of Monetary or Material Support,None
14,Primary Sponsor,"Name Nikhat Naaz Address MS Ramaiah Nagar, MSR..."
15,Details of Secondary Sponsor,Name Address NIL NIL
16,Countries of Recruitment,India
17,Sites of Study,No of Sites = 1 Name of Principal Investigator...
18,Details of Ethics Committee,No of Ethics Committees= 1 Name of Committee A...
19,Regulatory Clearance Status from DCGI,Status Not Applicable
20,Health Condition / Problems Studied,Health Type Condition Healthy Human Volunteers...
21,Intervention / Comparator Agent,Type Name Details
22,Inclusion Criteria,Age From 3.00 Year(s) Age To 17.00 Year(s) G...
23,ExclusionCriteria,Details Children with any major surgery/ major...
24,Method of Generating Random Sequence,NaN
25,Method of Concealment,NaN
26,Blinding/Masking,NaN
27,Primary Outcome,Outcome TimePoints Change in functional health...
28,Secondary Outcome,Outcome TimePoints none 0
29,Target Sample Size,"Total Sample Size=""96""Sample Size from India=""..."
30,Phase of Trial,NaN
31,Date of First Enrollment (India),10/09/2021
32,Date of Study Completion (India),Applicable only for Completed/Terminated trials
33,Date of First Enrollment (Global),Date Missing
34,Date of Study Completion (Global),Applicable only for Completed/Terminated trials
35,Estimated Duration of Trial,"Years=""1""Months=""0""Days=""0"""
36,Recruitment Status of Trial (Global),Not Applicable
37,Recruitment Status of Trial (India),Not Yet Recruiting
38,Publication Details,Would want to publish the study
39,Individual Participant Data (IPD) Sharing Stat...,Will individual participant data (IPD) be shar...
40,Brief Summary,Background: The WHO declared coronavirus disea...

In [90]:
my_list[1][0]

'CTRI/2021/08/036079\xa0[Registered on: 31/08/2021] Trial Registered Prospectively'

In [91]:
from openpyxl import Workbook, load_workbook

In [92]:
wb = load_workbook('Data Format Feb2022.xlsx')
ws = wb.active

In [93]:
ws['A3'].value = my_list[1][0]
ws['B3'].value = my_list[1][1]
ws['C3'].value = my_list[1][2]
ws['D3'].value = my_list[1][3]
ws['E3'].value = my_list[1][4]
ws['F3'].value = my_list[1][5]
ws['G3'].value = my_list[1][6]
ws['H3'].value = my_list[1][7]
ws['I3'].value = my_list[1][8]
ws['J3'].value = my_list[1][9]

ws['AG3'].value = my_list[1][13]
ws['AH3'].value = my_list[1][14]
ws['AI3'].value = my_list[1][15]
ws['AJ3'].value = my_list[1][16]
ws['AK3'].value = my_list[1][17]
ws['AR3'].value = my_list[1][18]
ws['AS3'].value = my_list[1][19]
ws['AT3'].value = my_list[1][20]
ws['AU3'].value = my_list[1][21]
ws['AV3'].value = my_list[1][22]
ws['AW3'].value = my_list[1][23]
ws['AX3'].value = my_list[1][24]
ws['AY3'].value = my_list[1][25]
ws['AZ3'].value = my_list[1][26]
ws['BA3'].value = my_list[1][27]
ws['BB3'].value = my_list[1][28]
ws['BC3'].value = my_list[1][29]

In [94]:
my_list = tables_list[3]

In [95]:
my_list

              0           1
0  Secondary ID  Identifier
1           NIL         NIL

In [96]:
my_list[0][1]

'NIL'

In [97]:
ws['J3'].value = my_list[0][1]

In [98]:
my_list = tables_list[4]
my_list

             0                                                  1
0         Name                                        Nikhat Naaz
1  Designation                                         PG student
2  Affiliation                         MS Ramaiah Medical College
3      Address  Department of Physiotherapy MS Ramaiah Nagar, ...
4        Phone                                         8197324719
5          Fax                                                NaN
6        Email                               nikinaaz98@gmail.com

In [99]:
my_list[1][4]

'8197324719'

In [100]:
ws['L3'].value = my_list[1][0]
ws['M3'].value = my_list[1][1]
ws['N3'].value = my_list[1][2]
ws['O3'].value = my_list[1][3]
ws['P3'].value = my_list[1][4]
ws['Q3'].value = 'NA'
ws['R3'].value = my_list[1][6]

In [101]:
my_list = tables_list[5]
my_list

             0                                                  1
0         Name                                     Dr Kirti Joshi
1  Designation                                Assistant professor
2  Affiliation                         MS Ramaiah Medical College
3      Address  MS Ramaiah Nagar, MSRIT Post, BangaloreBangalo...
4        Phone                                         9686851063
5          Fax                                                NaN
6        Email                             kirtijoshi@msrmc.ac.in

In [102]:
ws['S3'].value = my_list[1][0]
ws['T3'].value = my_list[1][1]
ws['U3'].value = my_list[1][2]
ws['V3'].value = my_list[1][3]
ws['W3'].value =  my_list[1][4]
ws['X3'].value = 'NA'
ws['Y3'].value = my_list[1][6]

In [103]:
my_list = tables_list[6]
my_list

             0                                                  1
0         Name                                        Nikhat Naaz
1  Designation                                         PG student
2  Affiliation                         MS Ramaiah Medical College
3      Address  Department of Physiotherapy, MS Ramaiah Nagar,...
4        Phone                                         8197324719
5          Fax                                                NaN
6        Email                               nikinaaz98@gmail.com

In [104]:
ws['Z3'].value = my_list[1][0]
ws['AA3'].value = my_list[1][1]
ws['AB3'].value = my_list[1][2]
ws['AC3'].value = my_list[1][3]
ws['AD3'].value = my_list[1][4]
ws['AE3'].value = 'NA'
ws['AF3'].value = my_list[1][6]

In [105]:
my_list = tables_list[10]
my_list

,0,1,2,3
0,No of Sites = 1,No of Sites = 1,No of Sites = 1,No of Sites = 1
1,Name of Principal Investigator,Name of Site,Site Address,Phone/Fax/Email
2,Nikhat Naaz,MS Ramaiah Medical College,"Department of Physiotherapy, MS Ramaiah Nagar,...",8197324719nikinaaz98@gmail.com

In [106]:
my_list[2][2]

'Department of Physiotherapy, MS Ramaiah Nagar, MSRIT Post, Bangalore 560054. BangaloreKARNATAKA'

In [107]:
ws['AK3'].value = my_list[0][0][14]
ws['AL3'].value = my_list[0][2]
ws['AM3'].value = my_list[1][2]
ws['AN3'].value = my_list[2][2]
ws['AO3'].value = my_list[3][2]
ws['AP3'].value = my_list[3][2]
ws['AQ3'].value = my_list[3][2]

In [108]:
ws['BC3'].value = '96'

In [109]:
wb.save('Data Format Feb2022.xlsx')